:root { /*variables de colores*/
    --darkgreen: #024702;
    --neongreen: #04ff04;
    --base-font: clamp(1rem, 2vw, 1.5rem);
}

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: var(--base-font);
}

.background{
    padding: 0px;
    margin: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    object-fit: cover;
    opacity:50%;
}

.father-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
}

.title-cnt{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.title{
    color: rgb(221, 221, 205);
    font-family: "Tiny5", sans-serif;
    font-weight: 100;
    font-size: clamp(3rem, 6vw, 5rem);
}
/*buttons*/

.buttons-cnt{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 3rem;
    gap: 1rem;
}
.MusicToggle, .GitButton, .HidePass, .CopyButton, .PassGenerator, .SettingsButton, .DeleteButton{
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0.7rem;
    cursor: pointer;
}
.MusicToggleIcon, .GitButtonIcon, .HidePassIcon, .CopyButtonIcon, .PassGeneratorIcon, .SettingsButtonIcon, .DeleteButtonIcon {
    filter: invert(88%) sepia(12%) saturate(302%) hue-rotate(16deg) brightness(98%) contrast(92%);
}
.MusicToggleIcon:hover, .GitButtonIcon:hover, .HidePassIcon:hover, .CopyButtonIcon:hover, .PassGeneratorIcon:hover, .SettingsButtonIcon:hover, .DeleteButton:hover{
    opacity: 70%;
}

/*PASSWORD SECTION*/
.password-cnt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 36vw;
    max-width: 450px;
    height: auto;
    padding: 0.5rem;
    background-color: var(--darkgreen);
    align-items: center;
    justify-content: center;
}

.PasswordAuthenticator{
    min-width: 200px;
    width: 450px;
    height: 2.8rem;
    background-color: black;
    border: none;
    color: white;
    font-family: "Cutive Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-left: 0.5rem;

}

/*Texto de validación*/

.ValidationSign{
    color: white;
    font-family: "Cutive Mono", monospace;
    font-weight: 100;
    background-color: var(--darkgreen);
    width: fit-content;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    opacity: 80%;
    cursor: pointer;
}

.valipass-cnt{
    display: flex;
    flex-direction: column;
}

/*toast noti custom*/

.toast-custom {
    background-color: var(--darkgreen) !important;
    color: white !important;
    font-family: "Cutive Mono", monospace !important;
    font-size: 16px !important;
    padding: 12px !important;
    opacity: 70% !important;
}

/*parámetros de generador*/

.parameters{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--darkgreen); 
    width: fit-content;
    height: fit-content;
    opacity: 80%;
    align-content: center;
    justify-content: center;
    padding: 1rem;
}

.validchar-cnt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 22vw;
    color: white;
    font-family: "Cutive Mono", monospace;
    border-color: beige;
    align-content: center;
    justify-content: center;
    margin: 0px;
}

.charcheck{
    padding: 0.5rem;
}

.charcheck input[type="checkbox"]{
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background-color: black;
    cursor: pointer;
}
.charcheck input[type="checkbox"]:checked {
    background-color: beige;
    border-color: var(--neongreen);
}
.charcheck input[type="checkbox"]::before {
    content: "✔";
    color: var(--darkgreen);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.charcheck input[type="checkbox"]:checked::before {
    visibility: visible;
}

.text-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Cutive Mono", monospace;
    padding: 1rem;
    font-size: var(--base-font);
    
}

.text-cnt input[type="number"]{
    width: 3vw;
    background-color: beige;
}